p {
    color: var(--textoPrimario  );

}

h1, h2 {
    color: var(--corDestaque);
}



a {
    font-size: 100%;
}

button {
    background-color: var(--corDestaque);
    padding: 0.6rem;
    border-radius: 3px;
    cursor: pointer;
    transition: 1 ease;
}

button:hover {
    background-color: var(--corDeAlerta);
}

input {
    color: black;
}

textarea {
    color: black;
}